<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;700&family=Hahmlet:wght@400;500&display=swap"
      rel="stylesheet"
    />
    <script
      src="https://kit.fontawesome.com/e6f2333130.js"
      crossorigin="anonymous"
    ></script>
    <title>Self Quiz Program</title>
    <meta
      name="description"
      content="메타 인지를 높이기 위한 셀프 퀴즈 프로그램"
    />
    <meta name="author" content="Joohee Kim" />
    <link rel="icon" type="image/png" href="../images/rubber-duck.png" />
    <link rel="stylesheet" href="../styles/style.css" />
    <script src="../scripts/main.js" defer></script>
  </head>
  <body>
    <section>
      <header>
        <img
          class="rubberDuck-home"
          src="../images/rubber-duck.png"
          alt="고무로 만든 병아리 장난감"
        />
        <h1 class="title">
          SELF <span class="yellowSpell">Q</span>UIZ PROGR<span
            class="yellowSpell"
            >A</span
          >M
        </h1>
      </header>

      <div class="addBox">
        <input
          type="text"
          class="inputQuiz box"
          placeholder="퀴즈를 입력해주세요 (공백 포함 최대 50글자)"
          maxlength="50"
        />
        <i class="addQuizBtn fa-solid fa-circle-plus"></i>
      </div>

      <div class="table">
        <table class="quizTable">
          <colgroup>
            <col width="90%" />
            <col width="10%" />
          </colgroup>
          <tbody class="quizBody"></tbody>
        </table>
      </div>

      <div class="btns">
        <button class="deleteAll box">퀴즈 전체 삭제</button>
        <button class="order goQuiz box">퀴즈 풀기 (입력순)</button>
        <button class="random goQuiz box">퀴즈 풀기 (무작위)</button>
      </div>
    </section>
  </body>
</html>
