<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;700&family=Hahmlet:wght@400;500&display=swap"
      rel="stylesheet"
    />
    <script
      src="https://kit.fontawesome.com/e6f2333130.js"
      crossorigin="anonymous"
    ></script>
    <title>Quiz | Self Quiz Program</title>
    <meta
      name="description"
      content="메타 인지를 높이기 위한 셀프 퀴즈 프로그램"
    />
    <meta name="author" content="Joohee Kim" />
    <link rel="icon" type="image/png" href="../images/rubber-duck.png" />
    <link rel="stylesheet" href="../styles/style.css" />
    <script src="../scripts/quiz-random.js" defer></script>
  </head>
  <body>
    <section class="quizPage">
      <figure class="quizDescription">
        <img
          class="rubberDuck-quiz"
          src="../images/rubber-duck.png"
          alt="고무로 만든 병아리 장난감"
        />
        <figcaption>
          <p class="main-p-tag">" 아래 퀴즈에 대해 제게 설명해주세요! "</p>
          <p>&emsp;○ : 확실히 설명했어요 🤓</p>
          <p>&emsp;▵ : 조금 모자라요 🤔</p>
          <p>&emsp;✕ : 다시 공부하고 올게요 🥲</p>
        </figcaption>
      </figure>

      <div class="quizBox">
        <p class="singleQuiz"></p>
      </div>

      <div class="btns quiz">
        <button class="circle checkBtn box">○</button>
        <button class="triangle checkBtn box">▵</button>
        <button class="letterX checkBtn box">✕</button>
      </div>

      <button class="nextBtn">다 음</button>
    </section>
  </body>
</html>
