:root {
  /* color */
  --color-background: rgb(245, 244, 246);
  --color-white: whitesmoke;
  --color-black: rgb(75, 74, 74);
  --color-yellow: rgb(242, 202, 40);
  --color-red: rgb(220, 100, 100);
  --color-orange: #f68a06;

  /* font-size */
  --font-large: 2rem;
  --font-medium: 1.5rem;
  --font-regular: 1.125rem;
  --font-small: 1rem;

  /* font-weight */
  --weight-bold: 700;
  --weight-medium: 500;
  --weight-regular: 400;
}

body {
  margin: 0;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: var(--color-background);
}

section,
button,
input {
  text-shadow: 1px 1px 1px #fff;
  font-family: "Hahmlet", serif;
  font-weight: var(--weight-medium);
  color: var(--color-black);
}

section {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 50px 30px;
  width: 500px;
  height: 82vh;
  border-radius: 30px;
  box-shadow: inset 7px 7px 11px #fff, inset -7px -7px 11px #babecc;
  font-size: var(--font-regular);
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: 8px 0;
}

.rubberDuck-home {
  width: 50px;
  height: 50px;
  margin-right: 12px;
  filter: drop-shadow(2px 2px 1px var(--color-black));
}

.title {
  font-family: "Josefin Sans", sans-serif;
  font-weight: var(--weight-bold);
  font-size: var(--font-large);
  color: var(--color-black);
  text-align: center;
  margin: 0;
  padding-top: 12px;
}

.yellowSpell {
  color: var(--color-yellow);
}

.box {
  border: 0;
  outline: 0;
  border-radius: 16px;
  padding: 5px 14px;
  cursor: pointer;
  letter-spacing: -1.2px;
  background-color: var(--color-background);
}

.addBox {
  display: flex;
  align-items: center;
  margin: 12px 0;
  width: 100%;
}

.inputQuiz {
  width: 90%;
  height: 30px;
}

.inputQuiz,
.btns button,
.nextBtn {
  font-size: var(--font-regular);
  box-shadow: -5px -5px 5px #fff, 5px 5px 5px #babecc;
  transition: all 0.2s ease-in-out;
}

.inputQuiz:hover,
.btns button:hover,
.nextBtn:hover {
  box-shadow: -8px -8px 15px #fff, 8px 8px 15px #babecc;
  transition: all 0.2s ease-in-out;
}

.addQuizBtn {
  width: 10%;
  color: var(--color-yellow);
  font-size: 40px;
  border: none;
  margin-left: 12px;
  cursor: pointer;
}

.rubberDuck-home:hover,
.addQuizBtn:hover,
.delete:hover {
  transform: scale(1.1);
  transition: all 0.2s ease-in-out;
}

.table,
.quizBox {
  width: 100%;
  overflow: auto;
  border-radius: 30px;
  box-shadow: inset 2px 2px 5px #babecc, inset -2px -2px 5px #babecc;
  margin: 10px 0;
}

.table {
  height: 60vh;
}

.quizTable {
  text-align: center;
  width: 100%;
  padding: 0 6px 0 12px;
}

.quizTable tr {
  height: 55px;
  width: 70%;
}

.delete {
  cursor: pointer;
}

.delete:hover,
.btns .deleteAll:hover {
  color: var(--color-red);
  background-color: var(--color-white);
}

.btns {
  width: 100%;
  margin-top: 12px;
  text-align: center;
}

.inOrder {
  margin: 0 24px;
}

.btns .goQuiz:hover,
.nextBtn:hover {
  color: var(--color-white);
  background-color: var(--color-yellow);
  text-shadow: none;
}

figure {
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
}

.rubberDuck-quiz {
  width: 150px;
  height: 150px;
  margin-right: 20px;
}

p {
  margin: 0;
  font-size: var(--font-small);
}

.main-p-tag {
  font-size: var(--font-regular);
}

.quizBox {
  height: 40vh;
  margin: 24px 0;
}

.checkBtn {
  width: 50px;
  height: 50px;
}

.btns .triangle {
  margin: 0 30px;
}

.btns .circle,
.btns .triangle,
.btns .letterX {
  font-size: var(--font-medium);
}

.btns .circle:focus,
.btns .triangle:focus,
.btns .letterX:focus {
  text-shadow: none;
  color: var(--color-white);
}

.btns .circle:focus {
  background-color: green;
}

.btns .triangle:focus {
  background-color: orange;
}

.btns .letterX:focus {
  background-color: crimson;
}

.nextBtn {
  background-color: var(--color-background);
  border-style: none;
  border-radius: 16px;
  width: 100%;
  padding: 6px 12px;
  margin-top: 38px;
}

.singleQuiz {
  font-size: var(--font-large);
  text-align: center;
}
